<h1 class="u-center">Here is a great password</h1>

<code id="passphrase" class="u-center" contenteditable="true">{{passphrase}}</code>

<article>
  <section>
    <h2 class="u-center">What?</h2>

    <p>
      <a href="https://en.wikipedia.org/wiki/Passphrase">Passphrases</a> are easier for people to remember and harder for computers to guess.
      A new, unique passphrase made up of simple, easy-to-type words is generated every time this page is refreshed.
    </p>

    <p>
      They are not stored.
      You are safe to take as many as you please.
      There are just shy of 665 billion combinations to give out.
    </p>
  </section>

  <section>
    <h2 class="u-center">Why?</h2>

    <p>
      Strong passwords are <em>still</em> too hard to create, remember, and enter.
      Many systems <em>still</em> suggest lengthy mixed case letters, numbers, and symbols even though those types of passwords are easier to crack.
      This quick, approachable tool takes the work out of devising passwords.
      Using the friendly passphrase above, you will be more secure.
    </p>

  </section>

  <section>
    <h2 class="u-center">How?</h2>

    <p>Here is the process for creating these passphrases:</p>

    <ol>
      <li>select a random set of words from a collection (like a dictionary) to form a passphrase
      <li>analyze that passphrase with <a href="https://github.com/dropbox/zxcvbn">Dropbox’s open source password strength estimator</a>
      <li>
        <ol>
          <li>If it scores high enough, generate and store a <a href="https://en.wikipedia.org/wiki/PBKDF2">cryptographic key</a> so the same combination won’t be shown again
          <li>If the score isn’t high enough or it has already been seen, construct another passphrase
        </ol>
    </ol>

    <p>
      This site is <a href="https://github.com/maxbeatty/passplum">open source</a>.
      It is designed so you can easily use your own collection of words to make the passphrases even more special (and even more secure).
      Please submit your improvements, questions, and ideas <a href="https://github.com/maxbeatty/passplum/issues">on GitHub</a> or <a href="https://twitter.com/passplum">on Twitter</a>.
    </p>
  </section>
</article>
