<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Easier, Better Passwords">

    <title>Pass Pair</title>

    <style media="screen">
      html {
        font-size: 16px;
        line-height: 1.5;
      }

      body {
        margin: 0;
      }

      h1,
      h2,
      code {
        text-align: center
      }

      h1,
      h2 {
        font-family: sans-serif;
      }

      code {
        display: block;
        margin: 0;
        white-space: nowrap;
        word-wrap: normal;
        word-break: keep-all;
        letter-spacing: .15em;
        outline: 0;
        background-color: whitesmoke;
        font-size: 1.2em;
      }

      article {
        margin: 0 auto;
        padding: 0 0.5em;
        font-size: 1.25em;
      }

      @media (min-width: 34em) {
        article {
          max-width: 34em;
        }
      }

      ol ol {
        list-style-type: lower-alpha;
      }
    </style>

  </head>

  <body>

    {{{content}}}

  </body>
</html>
