<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Easier, Better Passwords">

    <title>Pass Pair</title>

    <style media="screen">
      body {
        margin: 0;
        font-size: 1.3em;
        line-height: 1.4em;
      }

      .center { text-align: center }

      .lead, code {
        font-family: monospace;
        font-size: 1.4em;
      }

      .code {
        padding: 1.5em;
        letter-spacing: .15em;
        color: #fff;
        background-color: #000;
      }

      .article {
        max-width: 31em;
        margin: 0 auto;
        padding: 1em 2em;
      }

      h2 {
        font-family: sans-serif;
      }

      ol ol {
        list-style-type: lower-alpha;
      }
    </style>

  </head>

  <body>

    {{{content}}}

  </body>
</html>
