html {
  font-size: 20px;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}

.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, sans-serif;
}

.serif {
  font-family: georgia, times, serif;
}

.u-center {
  text-align: center;
}
.i {
  font-style: italic;
}

.db {
  display: block;
}
.dib {
  display: inline-block;
}
.dn {
  display: none;
}

.inverted {
  color: plum;
  background-color: #490049;
}

h1 {
  font-size: 1.5rem;
  font-weight: bolder;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
  font-weight: normal;
}

.plum {
  background-color: plum;
  color: #490049;
  text-align: center;
  padding-bottom: 1rem;
}

code {
  margin: 0;
  white-space: nowrap;
  word-wrap: normal;
  word-break: keep-all;
  letter-spacing: 1px;
  font-family: Consolas, monaco, monospace;
  line-height: 3;
}

::selection {
  background-color: papayawhip;
}

::-moz-selection {
  background-color: papayawhip;
}

article {
  padding: 0 1rem;
}

p,
select {
  font-size: 0.9rem;
  line-height: 1.5;
}

fieldset {
  margin: 0 auto;
  padding: 0 2rem;
  border: 0;
  background-color: #f8f8f8;
}

label {
  padding-right: 8px;
  width: 80px;
}

button {
  margin: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: 200;
  background: none;
  border: 1px solid;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  color: #490049;
}

button[disabled] {
  cursor: not-allowed;
}

button svg {
  height: 22px;
  width: 22px;
  vertical-align: middle;
  margin-left: -4px;
  margin-right: 4px;
}

footer {
  margin-top: 2rem;
  padding: 2rem 0 1.8em;
  background-color: #f8f8f8;
  font-size: 0.8rem;
}

@media (min-width: 34em) {
  h1 {
    font-size: 2rem;
  }
  .plum {
    font-size: 1.2rem;
  }
  article {
    max-width: 34em;
    margin: 0 auto;
  }

  fieldset {
    text-align: center;
  }

  label {
    width: inherit;
  }

  select {
    margin-right: 1rem;
  }

  fieldset p {
    display: inline-block;
  }
}

a,
a:link {
  color: #490049;
}

a:visited {
  color: plum;
}

a:active {
  color: papayawhip;
  text-decoration: none;
}

.highlight {
  border-radius: 24px 4px;
  background-image: linear-gradient(
    -100deg,
    rgba(255, 239, 213, 0.3),
    rgba(255, 239, 213, 0.7) 95%,
    rgba(255, 239, 213, 0.1)
  );
  white-space: nowrap;
}
